/* .star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/1.png');
    background-size: cover;
    cursor: pointer;
  }
  
  .star.selected {
    background-image: url('../../assets/2.png');
  } */
  .heart {
    display: inline-block;
    cursor: pointer;
  }
  
  .red svg path {
    fill: red;
  }