<!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2 b" (click)="openNew()"></button> -->
<br>


<div class="grid-container">

    <div class="left-div">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly">

            <div class="col-12 md:col-6 xl:col-3 p-3" *ngFor="let x of donors">
                <div class="surface-card shadow-2 border-round p-4">
                    <div class="flex flex-column align-items-center mb-3">
                        <img src="{{'assets/' + x.picture}}" class="mb-3"
                            style="width: 100px; height: 100px; border-radius: 100%;">
                        <span class="font-medium text-900 text-xl mb-2">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">{{x.name}}</font>
                            </font>
                        </span>
                        <span class="text-600 font-medium mb-2">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">{{x.email}}</font>
                            </font>
                        </span>
                        <span class="text-600 font-medium mb-2">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">{{x.typeOfDonation.name}}</font>
                            </font>
                        </span>
                    </div>
                    <div class="pt-3 border-top-1 surface-border flex">
                        <button pbutton="" pripple="" type="button" icon="pi pi-user-plus"
                            class="p-element p-ripple flex-auto mr-2 p-button-outlined p-button-plain p-button p-component p-button-icon-only"
                            style="border-radius: 30px;" (click)="editDonor(x)">
                            <span class="p-button-icon pi pi-user-edit" aria-hidden="true">
                            </span>
                            <span class="p-ink">
                            </span>
                        </button>
                        <button pbutton="" pripple="" type="button" icon="pi pi-send"
                            class="p-element p-ripple flex-auto ml-2 p-button-outlined p-button-plain p-button p-component p-button-icon-only"
                            style="border-radius: 30px;" (click)="deleteDonor(x)">
                            <span class="p-button-icon pi pi-trash" aria-hidden="true">
                            </span>
                            <span class="p-ink"></span>
                        </button>
                        <button pbutton="" pripple="" type="button" icon="pi pi-send"
                            class="p-element p-ripple flex-auto ml-2 p-button-outlined p-button-plain p-button p-component p-button-icon-only"
                            style="border-radius: 30px;" (click)="showDialog(x)">
                            <span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true">
                            </span>
                            <span class="p-ink"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-div">
        <br>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="value" (input)="search()" placeholder="חיפוש לפי שם תורם" />
        </span>
        <br><br>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="value2" (input)="search2()" placeholder="חיפוש לפי שם מתנה" />
        </span>
        <br>
        <br>
        <button  type="button" class="btn btn-outline-danger" icon="pi pi-plus" (click)="openNew()">תורם חדש</button>

    </div>
</div>
<p-dialog header="התרומות שלי" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <p class="m-0">
    <div class="my-css2">
        <p-table #dt [value]="giftList">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">שם <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">תמונה <p-sortIcon field="name"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-gift>
                <tr>
                    <td>{{gift.name}}</td>
                    <td><img src="{{'assets/' + gift.picture}}" class="mb-3 w-9 img" style="width: 100px; height: 150px;"></td>
                </tr>
            </ng-template>

        </p-table>
        <p-button severity="secondary" (click)="showDialog2()">הוספת תרומה</p-button>
    </div>

</p-dialog>
<p-dialog header="הוספת תרומה" [(visible)]="visible1" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <p class="m-0">
    <div class="my-css2">
        <p-table #dt [value]="giftWithNoDonor">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">שם <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">תמונה <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">תרומה חדשה <p-sortIcon field="name"></p-sortIcon></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-gift>
                <tr>
                    <td>{{gift.name}}</td>
                    <td><img src="{{'assets/' + gift.picture}}" class="mb-3 w-9 img"></td>
                    <td> <p-button severity="secondary" (click)="addDonation(gift.id,donorD.id)">תרומה</p-button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>

</p-dialog>
<app-edit-donor [donorId]="donor.id" [(donorDialog)]="donorDialog"></app-edit-donor>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<br>
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 מכירה סינית:
    <a class="text-reset fw-bold" href="#!">YadBeyad.com</a>
  </div>