.table-header {
    display: flex;
    justify-content: space-between;
}

.my-toolbar{
    height: 150px;
}
.my-css{
    height: calc(100vh - 100px);
    width: 95vw;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    direction: rtl;
}
.a{
    background-color:rgb(55, 142, 142);
    border-width: 2px;
    border-color: azure;
}
.b{
    background-color: cadetblue;
    border-color: aliceblue;
}

