<!-- <div class="card"> -->
  <!-- <br>
  <p-carousel [value]="image" [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000" >
    <ng-template let-image pTemplate="item">
      <div>
        <img [src]="image.itemImageSrc" [alt]="image.alt" [title]="image.title" class="image-container" />
      </div>
    </ng-template>
  </p-carousel> -->
<!-- </div> -->
<!-- <div class="ratio ratio-16x9">
  <iframe src="src\assets\video.mp4" title="YouTube video" allowfullscreen></iframe>
</div> -->
<!-- <video controls autoplay>
  <source src="assets/vi.mp4">
</video> -->

<video src="assets/v.mp4" autoplay loop muted style="width: 100%; height: 75vh; object-fit: cover;" onended="this.currentTime=0; this.play()" ></video>
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <br>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>אודתינו
          </h6>
          <p>
            ארגון יד ביד תומך במשפחות של חולים, מעניק חוויות ונופשים 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            שפות שמשמשות את האתר
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">.net</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            דפי האתר
          </h6>
          <p>
            <a href="home" class="text-reset">דף הבית</a>
          </p>
          <p>
            <a href="buying" class="text-reset">קניית מוצרים</a>
          </p>
          <p>
            <a href="login" class="text-reset">כניסה</a>
          </p>
          <p>
            <a href="register" class="text-reset">הרשמה</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">פרטים</h6>
          <p><i class="fas fa-home me-3"></i> ישראל, כנפי נשרים 42</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            yadleyad@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> *5020</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 מכירה סינית:
    <a class="text-reset fw-bold" href="#!">YadBeyad.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


